.header-background {
    position   : relative;
    width      : 100%;
    min-height : auto;
    overflow-y : hidden;
    /*background : url("/theme/images/sections/home/bg-pattern.png"), #7B4397;
    background : url("/theme/images/sections/home/bg-pattern.png"), -webkit-linear-gradient(to left, #7B4397, #DC2430);
    background : url("/theme/images/sections/home/bg-pattern.png"), linear-gradient(to left, #7B4397, #DC2430);*/
    color      : white;
}

#header-background-canvas {
    /*background: rgba(50,50,50,.05);*/
    background : #7B4397;
    background : -webkit-linear-gradient(to left, #7B4397, #DC2430);
    background : linear-gradient(to left, #7B4397, #DC2430);/*linear-gradient(to left, rgba(123, 67, 151, 0.5), rgba(220, 36, 48, 0.5));*/
    width      : 100%;
    height     : 100%;
    position   : absolute;
}