<link rel="stylesheet" href="/theme/css/sections/about.css"/>

<div class="container-fluid section-holder d-flex bg-white">
    <div class="container anchor p-lg-5 about-section" id="about">
        <div class="row pt-sm-2 pt-md-4 align-self-center">
            <div class="col-sm-6">
                <h3 class="p-1">Jean Gabès</h3>

                <h5 class="p-1">Ex CEO/CTO chez <a href="http://www.shinken-solutions.com" title="Shinken Solutions" target="_blank" rel="noopener">Shinken Solutions</a></h5>

                <p class="p-1 text-justify">
                    Passionné par les systèmes et réseaux, avec <b>18 ans d'expérience</b>. J'ai quelques fait d'armes à mon actif :
                </p>
                <ul>
                    <li>8 ans d'expérience en administration système et architecture</li>
                    <li>un <a target="_blank" rel="noopener" href="https://www.eyrolles.com/Informatique/Livre/nagios-3-pour-la-supervision-et-la-metrologie-9782212124736/">livre sur Nagios</a></li>
                    <li>10ans: CEO & CTO: développement de <a target="_blank" rel="noopener" href="http://www.shinken-monitoring.org/">Shinken</a> (en Python) au sein de la société <a target="_blank" rel="noopener" href="http://www.shinken-solutions.com/">Shinken
                        Solutions</a> que j'ai créé et dirigé pendant 10 ans.
                    </li>
                </ul>
                <div class="text-container ml-auto">
                    {% include '__socials.html' %}
                    <!--<ul class="social-link d-flex">
                        <li>
                            <a href="mailto:jean.gabes@gmail.com" title="Email" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
                        </li>

                        <li>
                            <a href="https://www.github.com/naparuba" title="Github" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/in/gabesjean/" title="LinkedIn" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
                        </li>

                        <li>
                            <a href="https://twitter.com/naparuba" title="Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>-->
                </div>

                <a href="/theme/pdf/cv-jgabes.pdf" title="Mon CV" target="_blank">
                    <button class="btn btn-dark">Mon CV</button>
                </a>

            </div>

            <div class="col-sm-6 pt-5 pl-md-4 pl-sm-3 pt-sm-0">
                <div class="row">


                    <div class="col-6 col-lg-4 p-2">
                        <div class="circular-progress blue">
                            <span class="circular-progress-left">
                                <span class="circular-progress-bar circular-progress-percentage-90"></span>
                            </span>
                            <span class="circular-progress-right">
                                <span class="circular-progress-bar"></span>
                            </span>
                            <div class="circular-progress-value">Linux</div>
                        </div>

                    </div>


                    <div class="col-6 col-lg-4 p-2">
                        <div class="circular-progress yellow">
                            <span class="circular-progress-left">
                                <span class="circular-progress-bar circular-progress-percentage-90"></span>
                            </span>
                            <span class="circular-progress-right">
                                <span class="circular-progress-bar"></span>
                            </span>
                            <div class="circular-progress-value">Python</div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-4 p-2">
                        <div class="">
                            <a href="https://www.www.shinken-monitoring.org" target="_blank">
                                <img src="/theme/images/sections/about/NinjaGreen.png" alt="Shinken"/>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>