<link rel="stylesheet" href="/theme/css/sections/education.css"/>

<div class="container-fluid section-holder d-flex bg-dimmed">


    <div class="container-fluid anchor pb-5 education-section" id="education">

        <h1 class="text-center">Scolarité</h1>

        <div class="container">
            <table class="education-info-table">
                <tbody>
                <!-- ecole d'inge -->
                <tr>
                    <td class="icon">
                        <div class="hline"></div>
                        <div class="icon-holder">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                    </td>
                    <td class="line">
                        <div></div>
                    </td>
                    <td class="details">
                        <div class="degree-info card">
                            <div class="row">
                                <div class="col-lg-10 col-md-8">

                                    <h5><a href="https://enseirb-matmeca.bordeaux-inp.fr/fr" title="ENSEIRB" target="_blank" rel="noopener">ENSEIRB</a></h5>

                                </div>
                                <div class="timeframe col-lg-2 col-md-4">2002-2005</div>
                            </div>
                            <h6>Ingénieur en informatique</h6>

                            <h6><span class="text-muted">Spécialisation: </span><span>Systèmes et réseaux</span></h6>


                            <div class="publications">
                                <h6 class="text-muted">Apprentissages</h6>
                                <ul>
                                    <li>Cycle généraliste d'ingénieur <i>(culture de l'ingénieur, gestion, etc)</i></li>
                                    <li>Développements <i>(de l'assembleur à l'orienté objet)</i></li>
                                    <li>Spécialisation en <b>sécurité, systèmes et réseaux</b></li>
                                </ul>
                            </div>


                        </div>
                    </td>
                </tr>

                <!-- ecole d'inge -->
                <tr>
                    <td class="icon">
                        <div class="hline"></div>
                        <div class="icon-holder">
                            <i class="fas fa-university"></i>
                        </div>
                    </td>
                    <td class="line">
                        <div></div>
                    </td>
                    <td class="details">
                        <div class="degree-info card">
                            <div class="row">
                                <div class="col-lg-10 col-md-8">

                                    <h5><a href="https://fr.wikipedia.org/wiki/Lyc%C3%A9e_Chaptal" title="Lycée Chaptal" target="_blank" rel="noopener">Lycée Chaptal (prépa)</a></h5>

                                </div>
                                <div class="timeframe col-lg-2 col-md-4">2000-2002</div>
                            </div>
                            <h6>Prépa scientifique, MP</h6>

                            <h6><span class="text-muted">Cursus: </span><span>2ans</span></h6>


                        </div>
                    </td>
                </tr>

                <!-- lycée -->
                <tr>
                    <td class="icon">
                        <div class="hline"></div>
                        <div class="icon-holder">
                            <i class="fas fa-school"></i>
                        </div>
                    </td>
                    <td class="line">
                        <div></div>
                    </td>
                    <td class="details">
                        <div class="degree-info card">
                            <div class="row">
                                <div class="col-lg-10 col-md-8">

                                    <h5><a href="https://jean-monnet-crepy-en-valois.ac-amiens.fr/" title="Lycée" target="_blank" rel="noopener">Lycée Jean-Monnet (Oise)</a></h5>

                                </div>
                                <div class="timeframe col-lg-2 col-md-4">1997-2000</div>
                            </div>
                            <h6>Lycée</h6>

                            <h6><span class="text-muted">Spécialité: </span><span>S (math/physique)</span></h6>


                        </div>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>