<footer class="container-fluid text-center align-content-center footer pb-2">
    <div class="container pt-5">
        <div class="row text-left">

            <div class="col-md-4 col-sm-12">
                <h5>Navigation</h5>

                <ul>

                    <li class="nav-item">
                        <a class="smooth-scroll" href="/#about">A propos</a>
                    </li>

                    <li class="nav-item">
                        <a class="smooth-scroll" href="/#skills">Skills</a>
                    </li>

                    <li class="nav-item">
                        <a class="smooth-scroll" href="/#experiences">Expérience</a>
                    </li>

                    <li class="nav-item">
                        <a class="smooth-scroll" href="/#education">Scolarité</a>
                    </li>

                    <li class="nav-item">
                        <a class="smooth-scroll" href="/#projects">Mes projets</a>
                    </li>

                    <li class="nav-item">
                        <a class="smooth-scroll" href="/#recent-posts">Derniers Posts</a>
                    </li>

                </ul>

            </div>


            <div class="col-md-4 col-sm-12">
                <h5>Me contacter:</h5>
                <ul>
                    <li><span>Email: </span> <span>naparuba@gmail.com</span></li>
                </ul>
            </div>


        </div>
    </div>


</footer>


<script type="text/javascript" src="/theme/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/theme/js/popper.min.js"></script>
<script type="text/javascript" src="/theme/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/theme/js/navbar.js"></script>
<script type="text/javascript" src="/theme/js/plyr.js"></script>
<script type="text/javascript" src="/theme/js/main.js"></script>


<script src="/theme/js/itype.min.js"></script>
<script src="/theme/js/github-button.js"></script>

<script src="/theme/js/jquery.filterizr.min.js"></script>