<div class="container-fluid home header-background" id="home">
    <link rel="stylesheet" href="/theme/css/sections/home.css"/>
    <link rel="stylesheet" href="/theme/css/sections/home/header.css"/>

    <div class="home-container">
        <div class="home-box home-box1"><a href="/parcours.html" aria-label="More about Jean Gabès">
            <img src="/theme/images/sections/home/parcours.png" class=""
                 alt="Go to cv"/>
        </a>
            <h2>Jane Flex</h2>
            <p>Some text.</p>
        </div>
        <div class="home-separator">
            <div class="home-separator-img-container">
                <img src="/theme/images/author/naparuba-4x.gif" alt="Mon image">
            </div>
        </div>
        <div class="home-box home-box2">
            <a href="/blog.html" aria-label="More about Jean Gabès">
                <img src="/theme/images/sections/home/plume.png" class="" alt="Blog"/>
            </a>
            <h2>John Doe</h2>
            <p>Some text here too.</p></div>
    </div>


</div>