<div class="container-fluid home header-background" id="home">
    <link rel="stylesheet" href="/theme/css/sections/home.css"/>
    <link rel="stylesheet" href="/theme/css/sections/home/header.css"/>

    <video id="background_video" autoplay loop muted>
        <source src="https://vod-progressive.akamaized.net/exp=1678378209~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F708%2F14%2F353541556%2F1436704462.mp4~hmac=a7e27214458ef7826a43766aff39442f03129729320b8f80286442f19616285c/vimeo-prod-skyfire-std-us/01/708/14/353541556/1436704462.mp4"
                type="video/mp4">
    </video>
    <div class="home-container">

        <div class="home-box home-box1">

            <a href="/parcours.html" aria-label="More about Jean Gabès">
                <img src="/theme/images/sections/home/parcours.png" class="" alt="Go to cv"/>
            </a>
            <h2>Jane Flex</h2>
            <p>Some text.</p>
        </div>
        <div class="home-separator">
            <div class="home-separator-img-container">
                <img src="/theme/images/author/naparuba-4x.gif" alt="Mon image">
            </div>
        </div>
        <div class="home-box home-box2">
            <a href="/blog.html" aria-label="More about Jean Gabès">
                <img src="/theme/images/sections/home/plume.png" class="" alt="Blog"/>
            </a>
            <h2>John Doe</h2>
            <p>Some text here too.</p></div>
    </div>


</div>