<nav class="navbar navbar-expand-xl top-navbar initial-navbar" id="top-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/theme/images/author/cadre.png" id="logo" alt="Logo">
            Jean Gabès</a>
        <button
                class="navbar-toggler navbar-dark"
                id="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#top-nav-items"
                aria-label="menu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="top-nav-items">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#home">Home</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#about">A propos</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#skills">Skills</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#experiences">Expérience</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#education">Scolarité</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#projects">Projets</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/#recent-posts">Post récents</a>
                    </div>
                </li>


                <div class="dropdown-divider" id="top-navbar-divider"></div>


                <li class="nav-item">
                    <a class="nav-link" id="blog-link" href="/posts">Posts</a>
                </li>


            </ul>
        </div>
    </div>


</nav>