<nav class="navbar navbar-expand-xl top-navbar initial-navbar" id="top-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">

            <img src="/theme/images/site/inverted-logo_hub02d7508a1c89b2b7812eab204efeb9a_4223_42x0_resize_box_2.png" id="logo" alt="Logo">
            John&#39;s Blog</a>
        <button
                class="navbar-toggler navbar-dark"
                id="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#top-nav-items"
                aria-label="menu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="top-nav-items">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#experiences">Experiences</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                        <a class="dropdown-item" href="#recent-posts">Recent Posts</a>


                        <a class="dropdown-item" href="#accomplishments">Accomplishments</a>


                        <a class="dropdown-item" href="#achievements">Achievements</a>


                    </div>
                </li>


                <div class="dropdown-divider" id="top-navbar-divider"></div>


                <li class="nav-item">
                    <a class="nav-link" id="blog-link" href="/posts">Posts</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" id="note-link" href="/notes">Notes</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="https://toha-guides.netlify.app/posts/">Docs</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageSelector" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span class="flag-icon flag-icon-gb"></span>
                        English
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageSelector">

                        <a class="dropdown-item nav-link languages-item" href="/">

                            <span class="flag-icon flag-icon-gb"></span>
                            English
                        </a>

                        <a class="dropdown-item nav-link languages-item" href="/bn/">

                            <span class="flag-icon flag-icon-bd"></span>
                            বাংলা
                        </a>

                    </div>
                </li>


            </ul>
        </div>
    </div>


    <img src="/theme/images/site/main-logo_hu9ad2f25a877e6fef77c7a3dbef5094ad_6881_42x0_resize_box_2.png" class="d-none" id="main-logo" alt="Logo">


    <img src="/theme/images/site/inverted-logo_hub02d7508a1c89b2b7812eab204efeb9a_4223_42x0_resize_box_2.png" class="d-none" id="inverted-logo" alt="Inverted Logo">

</nav>