<nav class="navbar navbar-expand-xl top-navbar initial-navbar" id="top-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/theme/images/author/naparuba-4x.gif" id="logo" alt="Logo">
            Jean Gabès</a>
        <button
                class="navbar-toggler navbar-dark"
                id="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#top-nav-items"
                aria-label="menu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="top-nav-items">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#home">Home</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#about">A propos</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#skills">Skills</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#experiences">Expérience</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#education">Scolarité</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/#projects">Projets</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link" href="/#recent-posts">Post récents</a>

                </li>


            </ul>
        </div>
    </div>


</nav>