<link rel="stylesheet" href="/theme/css/sections/projects.css"/>


<div class="container-fluid section-holder d-flex bg-white">
    <div class="container-fluid anchor pb-5 projects-section" id="projects">

        <h1 class="text-center">Projets</h1>

        <div class="container ml-auto text-center">
            <div class="btn-group flex-wrap" role="group" id="project-filter-buttons">
                <button type="button" class="btn btn-dark" data-filter="all"> Tous</button>
                <button type="button" class="btn btn-dark" data-filter="professional"> Pro</button>
                <button type="button" class="btn btn-dark" data-filter="academic"> Ecole</button>
                <button type="button" class="btn btn-dark" data-filter="hobby"> Hobby</button>
            </div>
        </div>

        <div class="container filtr-projects">
            <div class="row" id="project-card-holder">

                <!-- Shinken -->
                <div class="col-sm-12 col-md-6 col-lg-4 p-2 filtr-item" data-category='all, professional, monitoring'>
                    <div class="card mt-1">
                        <div class="card">
                            <a class="card-header" href="https://github.com/naparuba/shinken" target="_blank" rel="noopener">
                                <div>
                                    <div class="d-flex">
                                        <img class="card-img-xs" src="/theme/images/sections/projects/shinken.png" alt="Shinken"/>
                                        <h5 class="card-title mb-0">Shinken</h5>
                                    </div>
                                    <div class="sub-title">
                                        <span>Ex-owner</span>
                                        <span>2009 - 2023</span>
                                    </div>
                                </div>
                            </a>
                            <div class="card-body text-justify pt-1 pb-1">
                                <p>Moteur de supervision modulaire pour les grands environnements</p>
                                <div class="project-card-footer">
                                    <div class="project-tags-holder">
                                        <span class="badge btn-info">professional</span>
                                        <span class="badge btn-info">monitoring</span>
                                    </div>

                                    <div class="project-btn-holder">
                                        <a class="github-button-inactive project-btn" href="https://github.com/naparuba/shinken" data-icon="octicon-standard" data-show-count="true" aria-label="Star Shinken">Star</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Opsbro -->
                <div class="col-sm-12 col-md-6 col-lg-4 p-2 filtr-item" data-category='all, hobby'>
                    <div class="card mt-1">
                        <div class="card">
                            <a class="card-header" href="https://github.com/naparuba/opsbro" target="_blank" rel="noopener">
                                <div>
                                    <div class="d-flex">
                                        <img class="card-img-xs" src="/theme/images/sections/projects/opsbro.jpg" alt="OpsBro"/>
                                        <h5 class="card-title mb-0">OpsBro</h5>
                                    </div>
                                    <div class="sub-title">
                                        <span>Owner</span>
                                        <span>2013 - Présent</span>
                                    </div>
                                </div>
                            </a>
                            <div class="card-body text-justify pt-1 pb-1">
                                <p>Un outil gérant les tâches principales des ops pour le dépoiement et la gestion des serveurs Linux et Windows.</p>
                                <div class="project-card-footer">
                                    <div class="project-tags-holder">
                                        <span class="badge btn-info"> ops </span>
                                        <span class="badge btn-info"> multi-tools </span>
                                    </div>

                                    <div class="project-btn-holder">
                                        <a class="github-button-inactive project-btn" href="https://github.com/naparuba/opsbro" data-icon="octicon-standard" data-show-count="true" aria-label="Star OpsBro">Star</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Mangle -->
                <div class="col-sm-12 col-md-6 col-lg-4 p-2 filtr-item" data-category='all, hobby, fun'>
                    <div class="card mt-1">
                        <div class="card">
                            <a class="card-header" href="https://github.com/naparuba/mangle" target="_blank" rel="noopener">
                                <div>
                                    <div class="d-flex">
                                        <img class="card-img-xs" src="/theme/images/sections/projects/mangle.jpg" alt="Mangle"/>
                                        <h5 class="card-title mb-0">Mangle</h5>
                                    </div>
                                    <div class="sub-title">
                                        <span>Nothing</span>
                                        <span>2015 - Présent</span>
                                    </div>
                                </div>
                            </a>
                            <div class="card-body text-justify pt-1 pb-1">
                                <p>Interface pour découper correctement des mangas pour les liseuses.</p>
                                <div class="project-card-footer">
                                    <div class="project-tags-holder">
                                        <span class="badge btn-info">hobby</span>
                                        <span class="badge btn-info">fun</span>
                                    </div>

                                    <div class="project-btn-holder">
                                        <a class="github-button-inactive project-btn" href="https://github.com/naparuba/mangle" data-icon="octicon-standard" data-show-count="true" aria-label="Star Nocode">Star</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Uberlogger -->
                <div class="col-sm-12 col-md-6 col-lg-4 p-2 filtr-item" data-category='all, academic'>
                    <div class="card mt-1">
                        <div class="card">
                            <a class="card-header" href="https://github.com/naparuba/uberlogger" target="_blank" rel="noopener">
                                <div>
                                    <div class="d-flex">
                                        <img class="card-img-xs" src="/theme/images/sections/projects/uberlogger.png" alt="Uberlogger"/>
                                        <h5 class="card-title mb-0">Uberlogger</h5>
                                    </div>
                                    <div class="sub-title">
                                        <span>Owner</span>
                                        <span>2005</span>
                                    </div>
                                </div>
                            </a>
                            <div class="card-body text-justify pt-1 pb-1">
                                <p>Outil développé dans le cadre scolaire, pot à miel pour piéger les pirates de serveurs Linux.</p>
                                <div class="project-card-footer">
                                    <div class="project-tags-holder">
                                        <span class="badge btn-info"> hacking </span>
                                        <span class="badge btn-info"> security </span>
                                    </div>

                                    <div class="project-btn-holder">
                                        <a class="github-button-inactive project-btn" href="https://github.com/naparuba/uberlogger" data-icon="octicon-standard" data-show-count="true" aria-label="Star Tensorflow">Star</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Pyndsgest -->
                <div class="col-sm-12 col-md-6 col-lg-4 p-2 filtr-item" data-category='all, hobby'>
                    <div class="card mt-1">
                        <div class="card">
                            <a class="card-header" href="https://github.com/naparuba/pyndsgest" target="_blank" rel="noopener">
                                <div>
                                    <div class="d-flex">
                                        <img class="card-img-xs" src="/theme/images/sections/projects/nds.jpg" alt="Pyndsgest"/>
                                        <h5 class="card-title mb-0">Pyndsgest</h5>
                                    </div>
                                    <div class="sub-title">
                                        <span>Owner</span>
                                        <span>2005</span>
                                    </div>
                                </div>
                            </a>
                            <div class="card-body text-justify pt-1 pb-1">
                                <p>Interface de gestion de jeux NDS.</p>
                                <div class="project-card-footer">
                                    <div class="project-tags-holder">
                                        <span class="badge btn-info"> gaming </span>
                                        <span class="badge btn-info"> nds </span>
                                    </div>

                                    <div class="project-btn-holder">
                                        <a class="github-button-inactive project-btn" href="https://github.com/naparuba/pyndsgest" data-icon="octicon-standard" data-show-count="true" aria-label="Star Tensorflow">Star</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>