<link rel="stylesheet" href="/theme/css/sections/skills.css"/>

<div class="container-fluid section-holder d-flex bg-dimmed">

    <div class="container-fluid anchor pb-5 skills-section" id="skills">

        <h1 class="text-center">Skills</h1>

        <div class="container d-flex-block">
            <div class="row" id="primary-skills">

                <div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
                    <a class="skill-card-link" href="https://fr.wikipedia.org/wiki/Linux" title="Linux" target="_blank" rel="noopener">
                        <div class="card">
                            <div class="card-head d-flex">
                                <img class="card-img-xs" src="/theme/images/sections/skills/linux_huf8888e89df43f58ab32b560cb211e230_26357_24x24_fit_box_2.png" alt="Linux"/>
                                <h5 class="card-title">Linux</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Déploiement, gestion et surtout recherche de problèmes systèmes sur Linux. Les couches basses de Linux sont mon univers.</p>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
                    <a class="skill-card-link" href="https://www.python.org/" title="Python" target="_blank" rel="noopener">
                        <div class="card">
                            <div class="card-head d-flex">
                                <img class="card-img-xs" src="/theme/images/sections/skills/go_hue4d750b86639bc097ae544131de4926d_6734_24x24_fit_box_2.png" alt="Go Development"/>
                                <h5 class="card-title">Python</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Mon language de développement principal est le Python. Capable de gérer un très gros projet, je connais bien les forces, mais surtout les faiblesses de ce language.</p>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
                    <a class="skill-card-link" href="https://git-scm.com/" title="Git" target="_blank" rel="noopener">
                        <div class="card">
                            <div class="card-head d-flex">


                                <img class="card-img-xs" src="/theme/images/sections/skills/git_hu6c1226675924c2f2e3476a81b4d03976_10660_24x24_fit_box_2.png" alt="Git"/>

                                <h5 class="card-title">Git</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Forte expérience dans la gestion d'un projet avec de multiples versions sur Git, tant avec une équipe interne, qu'un projet open source avec des contributions externes.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
                    <a class="skill-card-link">
                        <div class="card">
                            <div class="card-head d-flex">
                                <img class="card-img-xs" src="/theme/images/sections/skills/cloud_hu7018b904f8bff0d4527e1c31c6d17334_6540_24x24_fit_box_2.png" alt="Cloud Computing"/>
                                <h5 class="card-title">Clustering</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Forte expérience dans les systèmes de clustering (distribué et haute disponibilité), tant sur leur développement que sur leur gestion dans le temps.</p>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
                    <a class="skill-card-link" href="#" title="CTO" target="_blank" rel="noopener">
                        <div class="card">
                            <div class="card-head d-flex">
                                <img class="card-img-xs" src="/theme/images/sections/skills/docker.svg" alt="Docker"/>
                                <h5 class="card-title">Direction technique</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Je sais prendre (et surtout assumer) des choix techniques, qui vont impacter l'équipe sur plusieurs années. Je ai voir plus loin que la hype du moment et être pragmatique.</p>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>

</div>