{% include '_head.html' %}


<body>

{% include '_nav.html' %}


<div class="container-fluid section-holder d-flex bg-white">
    <div class="container anchor p-lg-5" id="post">
        <div class="row pt-sm-2 pt-md-4 align-self-center">
            <div class="row">
                <div class="container col-md-8">
                    {% block content %}{% endblock %}

                </div> <!-- /container -->

                <div class="col-md-3">
                    <div id="SocialIcons" class="row">
                        {% include '__socials.html' %}
                    </div>

                    <div id="Archives" class="row" style="max-height:50em;overflow-y: auto;">
                        <h2>Archives</h2>
                        <ul style="padding-left: 8px;">
                            {% for article in dates %}
                            <li class="archive-entry">
                                <span class="archives-li-header">{{article.date.strftime("%b")}} {{article.date.strftime("%Y")}}</span> <a href="{{SITEURL}}/{{article.url}}"> {{article.title}} </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr class="clear">
                </div>
            </div>
            <div class="col-md-1"></div>


        </div>
    </div>
</div>

{% include '_footer.html' %}

</body>
</html>
