.home {
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #F9FAFC;
    overflow: hidden;
    background: #353535;
}

/*
.background {
    height                : 100%;
    width                 : 100%;
    padding               : 0;
    margin                : 0;
    background-attachment : fixed;
    background-position   : center;
    transform             : scale(1.1);
    filter                : blur(3px);
    background-size       : cover;
}
*/


/*
  Resolves https://github.com/hossainemruz/toha/issues/70

  fixed attached images use the whole <body> size. On mobile this can get really
  tall which blows your image out. Setting the attachment back to scroll allows
  your cover image to stretch within its own container
*/
@supports (-webkit-touch-callout: none) {
    .background {
        background-attachment: scroll;
    }
}

#header-background-canvas {
    display: none;
}

.content {
    position: relative;
    top: -110%;
    height: 60%;
}

.home .cv img {

    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    border-radius: 5px;
    border: 1px solid #566963;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);

    background-color: #6c7c7c;
    height: 125px;

    margin-bottom: 10px;
}

.home .cv img:hover {
    background: linear-gradient(to bottom, #658080 5%, #85a099 100%);
}

.home .blog img {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    border-radius: 5px;
    border: 1px solid #566963;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: rgba(0, 0, 0, 0);
    background-color: #6c7c7c;
    height: 125px;

    margin-bottom: 10px;
}

.home .portrait img {
    /*width            : 180px;
    height           : 180px;
    background-color : #424242;*/
    padding: 5px;
    margin-bottom: 10px;

    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all 0.5s ease;
}


.home .portrait img.on-top {
    /*display        : none !important;*/
    z-index: 99;
    /*opacity        : 0;*/
    transition: all 0.5s ease;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.home .portrait:hover img.on-top {
    display: inline !important;
    opacity: 1;
    transition: all 0.5s ease;
    filter: grayscale(0.5);
    -webkit-filter: grayscale(0.5);
}


.home .portrait:hover img.on-bottom {
    display: none !important;
}

.home .portrait:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transition: all 0.5s ease;
}


.home .greeting {
    color: #F9FAFC;
}

.home .typing-carousel {
    font-size: 14pt;
    color: #F0F0F0;
}


#typing-carousel-data {
    display: none;
}

.home .typing-carousel .ityped {
    background: rgba(50, 50, 50, .5);
}


.home .typing-carousel .ityped {
    /*position: relative;
    height: 40px;
    width: 300px;
    margin: 10px;
    padding-right: 30px;*/
    line-height: 40px;
    text-align: right;
    /*text-transform: uppercase;*/
    border-radius: 8px;
    /*color: crimson;*/
    overflow: hidden;
    background-color: black;
}

.home .typing-carousel .ityped:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transform: skew(45deg);
    z-index: -1;
}

.home .typing-carousel .ityped-around {
    background: linear-gradient(60deg, #F79533, #F37055, #EF4E7B, #A166AB, #5073B8, #1098AD, #07B39B, #6FBA82);
    border-radius: 8px;
    padding: 2px;
    -webkit-animation: animatedgradient 3s ease alternate infinite;
    animation: animatedgradient 3s ease alternate infinite;
}


@-webkit-keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.arrow {
    position: absolute;
    color: #F9FAFC;
    font-size: 1.5rem;
    bottom: 100px;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/* IPad Pro */
@media (max-width: 1024px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
    .content {
        position: relative;
        top: -75%;
        height: 65%;
    }

    .home img {
        width: 140px;
        max-width: 50%;
        height: auto;
    }

    .home .greeting {
        font-size: 24pt;
    }
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
}

#homePageBackgroundImageDivStyled {
    background-image: url('/theme/images/site/background_hu734aa6f98ca0577a577126c08c02e5c3_354464_500x0_resize_q75_box.jpg');
}

@media (min-width: 500px) and (max-width: 800px) {
    #homePageBackgroundImageDivStyled {
        background-image: url('/theme/images/site/background_hu734aa6f98ca0577a577126c08c02e5c3_354464_800x0_resize_q75_box.jpg');
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    #homePageBackgroundImageDivStyled {
        background-image: url('/theme/images/site/background_hu734aa6f98ca0577a577126c08c02e5c3_354464_1200x0_resize_q75_box.jpg');
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {
    #homePageBackgroundImageDivStyled {
        background-image: url('/theme/images/site/background_hu734aa6f98ca0577a577126c08c02e5c3_354464_1500x0_resize_q75_box.jpg');
    }
}

@media (min-width: 1501px) {
    #homePageBackgroundImageDivStyled {
        background-image: url('/theme/images/site/background.jpg');
    }
}


/*********** HEXAGONS *******/


.hexagons {
}

.hexrow {
    display: block;
    width: 100vw;
    height: 125px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -35px;
    margin-left: -33px;
}

.hexrow .hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #2B2B2B;
    margin: 32.87px 2px;
    display: block;
    transition: all 0.2s linear;
}

.hexrow .hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    top: 100%;
    width: 0;
    border-top: 28.87px solid #2B2B2B;
    transition: all 0.2s linear;
}

.hexrow .hexagon::before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    bottom: 100%;
    border-bottom: 28.87px solid #2B2B2B;
    transition: all 0.2s linear;
}

.hexrow.hexrow-moved {
    margin-left: 19px;
}

.cursor {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    position: absolute;
    box-shadow: 2px -3px 41px -1px rgba(241, 196, 15, 0.64);
    z-index: 0;
    opacity: 0;
    background: linear-gradient(45deg, #E8F74D, #FF6600D9, #00FF66, #13FF13, #AD27AD, #BD2681, #6512B9, #FF3300DE, #5AABDE);
    background-size: 400%;
    animation: glower 20s linear infinite;
    filter: blur(40px);
}

@keyframes glower {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


/* Split en deux parties avec une image centrale */
.home-container {
    display: flex;
    height: 100vh;
}

.home-box {
    flex: 1;
    height: 100%;
    transition: flex 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-box:hover {
    flex: 3;
}

.home-box1 {
    background-color: #bada55;
}

.home-box2 {
    background-color: #5f9ea0;
}

.home-separator {
    flex: 0 0 25px; /* largeur fixe de 50 pixels */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-separator-img-container {
    border-radius: 25%;
    background-color: red;
    min-height: 150px;
    min-width: 150px;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-separator img {
    max-width: 100%;
    max-height: 100%;
}