/* Global Rules */
html {
    overflow-y: scroll;
}

body {
    background-color: #fff; 
    color: #444;
    overflow-x: hidden;
}

a {
    color: #CC6600;
}

a:hover, a:active {
    color: #990E2A;
    text-decoration: none;
}

.container{
    padding: 49px 16px 72px;
}

#Search{
    box-sizing: content-box;
    border: 1px solid #ddd;
    box-shadow: rgba(0,0,0,0.15);
    border-radius: 10px;
    margin: 50px 10px ;
    padding: 10px;   
}

/* ------------- Web_Map ------------- */

#Web_Map a{
    text-decoration: none;
}

.Title_Map {
    text-transform: uppercase;
    color: #121212;
    font-weight: 600;
}

#Web_Map {
    /*display: none;*/
    color: #ededed;
    box-shadow: 0 0 20px rgba(0,0,0,0.25) inset;
} 

#Web_Map .col-sm-3 {
    border-right: 1px solid #999999;
}

#Web_Map .col-sm-3 .Content{
    /*margin: 10px;
    padding: 10px;*/
    margin-top:5px;
    text-align: center;
    color: #454545;
    height: 65px;
}  

#Web_Map .col-sm-3 .Content:hover{
    background-color: #dddddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.25s;
}  

#Web_Map .col-sm-3 .Content p, #Web_Map .col-sm-3 .Content h3 {
    text-align: center;
}  

.Logo_Frame {
    width: 300px;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
}

.Logo_Frame .Logo {
    max-width: 20%;
    float: left !important;
}

.Logo_Frame h5 {
    text-transform: uppercase;
    color: #121212;
    font-weight: 600;
}

.Logo_Frame p {
    color: #121212;
}

.tag {
    float: left;
    margin-top: 10px;
}

#SocialIcons {
    border: 1px solid #ddd;
    box-shadow: rgba(0,0,0,0.15);
    height: 45px;
    border-radius: 10px;
    margin: 50px 10px ;
    padding: 10px;
}

#SocialIcons a{
    transition: all 0.5s ease;
}

#SocialIcons a:hover{
    opacity: 0.75;
}

#SocialIcons img{
    max-height: 25px;
    margin: 0px 5px;
}

#Archives #Date {
    font-weight: 300;
    font-style: italic;
    color: rgba(0,0,0,0.5);
    font-size: 0.8em;
}

#Archives #LignArticle {
    padding: 10px 0px 10px 0px ;   
    border-top: 1px solid #ddd;
}

#Archives {
    border: 1px solid #ddd;
    box-shadow: rgba(0,0,0,0.15);
    border-radius: 10px;
    margin: 50px 10px ;
    padding: 10px;   
}

#Archives a {
    color: #000;
}

#Archives a:hover{
    color: #ff8400;
}

.clear {
     height: 0;
     margin: -1.2ex 0;
     padding: 0;
     border: 0;
     clear: both;
     visibility: hidden;
 }

/* ------------- END - Web_Map ------------- */
/* ------------- Nav bar ------------- */

.navbar-default {
    border-color: #ff8400 #E7E7E7 #E7E7E7;
    border-top: 4px solid #ff8400;
}

.navbar .Logo {
    height:90%;
    max-width: 100%;
    display: block;
}
.navbar .Logo:hover{
    opacity: 0.8;
}
.navbar .HoverMenu {
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    top: 50px;
    width: 150px;
    display: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}

.navbar .HoverMenu li{
    width: 100%;
    text-align: left;
    padding: 10px 0px;
}

.lavaLampBottomStyle {
    position: relative;
}
.lavaLampBottomStyle li {
    float: left;
    list-style: none;
}
.lavaLampBottomStyle li.back {
    border-bottom: 3px solid #ff8400;
    bottom: 0;
    position: absolute;
}
.lavaLampBottomStyle li a {
    display: block;
    position: relative;
}   
.lavaLampBottomStyle li a:hover, .lavaLampBottomStyle li a:active, .lavaLampBottomStyle li a:visited {
    border: none;
}   

.Dropdown_Logo {
    width: 75px;
    transition: all ease 0.5s;
    opacity: 1;
}

.Dropdown_Logo:hover {
    opacity: 0.75;
}

.navbar .dropdown {
background: #ff9019; /* Old browsers */
background: -moz-linear-gradient(top, #ff8400 0%, #ff9019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8400), color-stop(100%,#ff9019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff8400 0%,#ff9019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff8400 0%,#ff9019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff8400 0%,#ff9019 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff8400 0%,#ff9019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8400', endColorstr='#ff9019',GradientType=0 ); /* IE6-9 */ 
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

.navbar .dropdown #CornerL,.navbar .dropdown #CornerR{
    position: absolute;
}

.navbar .dropdown #CornerL{
    left: -20px;
}

.navbar .dropdown #CornerR{
    right: -25px;
    top: -5px;
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */    
}

.navbar .dropdown {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 15px;
    position: absolute;
    top: 0;
}
                 

/* ------------- END - Nav bar ------------- */

.content > section,
#site-header, #site-footer {
    margin-bottom: 1rem;
}

.content {
    margin: 0px 20px;
}

#site-header {
    margin-bottom: 30px;
}

.content article {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding:20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

#site-logo {
    padding: 1.5rem 0 1.35rem;
    margin-left: -20px;
}

.content section {
/*    background: url(/theme/img/divider.png) no-repeat center bottom;*/
    margin-left: 90px;
}

.content section:last-of-type {
    background: none;
    padding-bottom: 0;
}

.content section p {
    text-align: justify;
/*    margin-bottom: 1.5rem;*/
}

#site-header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    border-bottom: 1px dashed #e0e0e0;
}

#site-header h1 small {
    font-size: 1rem;
    color: #666;
}

@media screen and (max-width: 767px) {
    #site-header h1 small {
        display: block;
    }

    #site-header h1 small .divider {
        display: none;
    }
}

#site-header h1 a {
    color: #000;
}

#site-header p {
    font-size: 1rem;
    font-style: italic;
    color: #bbb;
    position: relative;
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
    #site-header p:before {
        display: block;
        content: "\201C";
        font-size: 4rem;
        position: absolute;
        left: -2.5rem;
        top: 1.25rem;
        color: #e4e4e4;
    }
}

#sidebar {
    position: relative;
    background-image: url(../img/debut_dark.png);
    padding: .5rem 2rem 1rem;
    margin-top: -.5rem;

    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;

    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
}

#social-icons {
    position: absolute;
    top: .5rem;
    right: .5rem;
}


@media screen and (min-width: 768px) {
    #site-header, #site-footer, .content {
        padding: 0 3rem;
    }
}

article h2, article h3,article h5, article h6 {
    margin-top: 2rem;
    text-shadow: none;
    font-weight: 400;
}


article header {
    margin-bottom: 2rem;
}


@media screen and (min-width: 768px) {
    article header h2:before {
        display: block;
        font-size: 2rem;
        position: absolute;
        left: -1.75rem;
        top: .25rem;
        color: #e4e4e4;

        -webkit-text-shadow: none;
        text-shadow: none;
    }
}

article h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: #ff8400;
    margin: 30px 0px;
}

article header h2 a {
    color: #000;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 3px;
    font-size: 0.8em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2.5px;
    margin-bottom: 5px;
}

article header h2 a:hover {
    color: #ff8400;
}


time {
    color: #FFF;
    background-color: #FF8400;
    width: 70px;
    float: left;
    font-family: "Lato";
    border-radius: 35px;
    margin: 0px 15px;
    padding: 0px;
    height: 70px;
    position: relative;
    margin: 50px 15px 0px 0px;
}

time .DateDay{
    font-size: 2em;
    line-height: 35px;
    text-align: center;
}
time .DateMounth{
    font-size: 0.8em;
    line-height: 0px;
    margin: 0px 10px;
}

time .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #ff8400;
    position: absolute;
    top: 30px;
    right: -8px;
}

article section p {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 20px;
}

article header .author {
    color: #cc6600;
    font-style: italic;
    margin-top: 0.5rem;
}
article img {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

article iframe {
    max-width: 100%;
}

article footer {
    margin-top: 2rem;
}

article footer p {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #aaa;
    margin-bottom: 0 !important;
    margin-top:100px;
}

.article_infos p {
    font-size: 0.8em;
    line-height: 10px;
    color: rgba(0,0,0,0.5);
}

.article_infos {
    margin: 0px 0px 100px 120px;
}

blockquote,
code,
dl,
h1,
h2,
h3,
ol,
p,
pre,
ul {
    font-family: 'Lato', sans-serif;
}

ol {
    list-style: upper-roman;
}

pre h2,pre h3,pre h1 {
    font-size: 14px;
    margin: 0px;
}


pre, code {
    font-family: 'Courier New', sans-serif;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    overflow-y: hidden;
    color: #f7f7f7;
    font-size: 14px;
}

code {
    font-family: 'Courier New', sans-serif;
    color: #E0474E;
}


pre {
    background-color: rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75) inset;
    padding: 15px;
    border: #000;
}

.codehilite {
    margin: 1.5rem 0;
}

.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #808080 } /* Comment */
.codehilite .err { color: #F00000; background-color: #F0A0A0 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #303030 } /* Operator */
.codehilite .cm { color: #808080 } /* Comment.Multiline */
.codehilite .cp { color: #507090 } /* Comment.Preproc */
.codehilite .c1 { color: #808080 } /* Comment.Single */
.codehilite .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #808080 } /* Generic.Output */
.codehilite .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0040D0 } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #003080; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #303090; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #6000E0; font-weight: bold } /* Literal.Number */
.codehilite .s { background-color: #fff0f0 } /* Literal.String */
.codehilite .na { color: #0000C0 } /* Name.Attribute */
.codehilite .nb { color: #007020 } /* Name.Builtin */
.codehilite .nc { color: #B00060; font-weight: bold } /* Name.Class */
.codehilite .no { color: #003060; font-weight: bold } /* Name.Constant */
.codehilite .nd { color: #505050; font-weight: bold } /* Name.Decorator */
.codehilite .ni { color: #800000; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #F00000; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0060B0; font-weight: bold } /* Name.Function */
.codehilite .nl { color: #907000; font-weight: bold } /* Name.Label */
.codehilite .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #007000 } /* Name.Tag */
.codehilite .nv { color: #906030 } /* Name.Variable */
.codehilite .ow { color: #000000; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #6000E0; font-weight: bold } /* Literal.Number.Float */
.codehilite .mh { color: #005080; font-weight: bold } /* Literal.Number.Hex */
.codehilite .mi { color: #0000D0; font-weight: bold } /* Literal.Number.Integer */
.codehilite .mo { color: #4000E0; font-weight: bold } /* Literal.Number.Oct */
.codehilite .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.codehilite .sc { color: #0040D0 } /* Literal.String.Char */
.codehilite .sd { color: #D04020 } /* Literal.String.Doc */
.codehilite .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.codehilite .se { color: #606060; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.codehilite .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.codehilite .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
.codehilite .sx { color: #D02000; background-color: #fff0f0 } /* Literal.String.Other */
.codehilite .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.codehilite .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.codehilite .ss { color: #A06000 } /* Literal.String.Symbol */
.codehilite .bp { color: #007020 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #306090 } /* Name.Variable.Class */
.codehilite .vg { color: #d07000; font-weight: bold } /* Name.Variable.Global */
.codehilite .vi { color: #3030B0 } /* Name.Variable.Instance */
.codehilite .il { color: #0000D0; font-weight: bold } /* Literal.Number.Integer.Long */

li {
    line-height: 24px;
}

#site-footer {
    padding-top: .75rem;
}

#site-footer p {
    font-size: small;
    line-height: 1rem;
    color: #bbb;
}

.paginator {
    margin-bottom: 2rem;
    color: #999;
}

blockquote p {
    font-size: .875rem;
    font-style: italic;
    color: #777;
}

/*
#content nav{
    font: 11px Lucida Grande, sans-serif!important;
    text-transform: uppercase;
    float: left;
    margin: 0 5px 0 0;
    width: 140px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 23px;
}


#content nav,
#content nav a {
  color: #999;
}
#content nav ul {
  margin: 0;
  padding: 0;
}
#content nav ul li {
  border-top: solid 1px #ccc;
  list-style:none;
}
#content nav ul li a {
  display: block;
  padding: 0 0 0 35px;
  line-height: 23px;
  background: url("../img/icons-interior.png") no-repeat -156px 3px;
  font: 11px Lucida Grande, sans-serif!important;
  text-transform: uppercase;
  height: 23px;

}
#content nav ul li:first-child {
  border-top: none;
}
#content nav ul li.home a {
  background-position: -156px 3px;
}
#content nav ul li.home a:hover {
  background-position: -331px 3px;
  color: #000;
}
#content nav ul li.home.current a {
  background-position: 2px 3px;
  color: #CC6600;
  font-weight: bold;
}
#content nav ul li.download a {
  background-position: -156px -21px;
}
#content nav ul li.download a:hover {
  background-position: -331px -21px;
  color: #000;
}
#content nav ul li.download.current a {
  background-position: 2px -21px;
  color: #CC6600;
  font-weight: bold;
}
#content nav ul li.about a {
  background-position: -156px -45px;
}
#content nav ul li.about a:hover {
  background-position: -331px -45px;
  color: #000;
}
#content nav ul li.about.current a {
  background-position: 2px -45px;
  color: #CC6600;
  font-weight: bold;
}
#content nav ul li.npm a {
  background-position: -156px -69px;
}
#content nav ul li.npm a:hover {
  background-position: -331px -69px;
  color: #000;
}
#content nav ul li.npm.current a {
  background-position: 2px -69px;
  color: #CC6600;
  font-weight: bold;
}
#content nav ul li.docs a {
  background-position: -156px -93px;
}
#content nav ul li.docs a:hover {
  background-position: -331px -93px;
  color: #000;
}
#content nav ul li.docs.current a {
  background-position: 2px -93px;
  color: #CC6600;
  font-weight: bold;
}
#content nav ul li.blog a {
  background-position: -156px -117px;
}
#content nav ul li.blog a:hover {
  background-position: -331px -117px;
  color: #000;
}
#content nav ul li.blog.current a {
  background-position: 2px -117px;
  color: #CC6600;
  font-weight: bold;
}
#content nav ul li.community a {
  background-position: -156px -141px;
}
#content nav ul li.community a:hover {
  background-position: -331px -141px;
  color: #000;
}
#content nav ul li.community.current a {
  background-position: 2px -141px;
  color: #CC6600;
  font-weight: bold;
}
#content nav ul li.logos a {
  background-position: -156px -165px;
}
#content nav ul li.logos a:hover {
  background-position: -331px -165px;
  color: #000;
}
#content nav ul li.logos.current a {
  background-position: 2px -165px;
  color: #CC6600;
  font-weight: bold;
}
#content nav ul li.jobs a {
  background-position: -156px -189px;
}
#content nav ul li.jobs a:hover {
  background-position: -331px -189px;
  color: #000;
}
#content nav ul li.jobs.current a {
  background-position: 2px -189px;
  color: #CC6600;
  font-weight: bold;
}*/

/* ------------- Footer ------------- */

#ScrollTop { 
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    position: fixed;
    right: 40px;
    z-index: 20000;
    bottom: 230px;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease;
    display: none;
}

#ScrollTop:hover { 
    opacity: 1;
}

#ScrollTop img { 
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */    
}

footer { 
    background-color: #232323;
}

footer .Logo{ 
    max-width: 90%;
    width: 350px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

footer ul:first-of-type{ 
    list-style: none;
    border-left : 1px solid grey;
    text-align: center;
    margin-top: 10px;
}

footer ul:last-of-type{ 
    list-style: none;
    border-right : 1px solid grey;
    text-align: center;
    margin-top: 10px;
}

footer ul li { 
    margin: 20px 0px;
}

footer ul li a { 
    color : #ff8400;
    transition: all ease 0.5s;
}

footer ul li a:hover { 
     color : #ffaa4f;
    text-decoration: none;
}

footer p { 
    color : #757575;
    font-size: 0.875em;
    clear: both;
    text-align: center;
    margin-top:100px;
}

footer .navbar-form { 
    margin: 50px auto;
}

/* ------------- END - Footer ------------- */

/* ------------- MEDIAS QUERIES ------------- */
@media (max-width: 500px) { 
.navbar-toggle {
    left: 20px;
    position: absolute;
}
    
#Lavalamp li:not(.dropdown) {
    width: 100%; 
}
    
.navbar-brand {
    width: 100%;
    margin-top: 50px;
}
    
.navbar .Logo {
    margin: 0 auto;
}
    
time {
    display: none;
}
    
.content section {
    width: 100%;
    padding: 0px;
    margin-left: 0px;
}
}

@media (max-width: 970px) { 
/* Side Menu */      
#Menu {
    display: none;
}
/* Side Menu */      
.carousel-indicators {
    margin: 20px 10px 0px;
    height:75px;
}
    
.carousel-indicators p{
    font-size: 0.8em;
    padding: 15px 5px;
}

}
/* ------------- END MEDIAS QUERIES ------------- */
